root = "."
tmp_dir = "tmp"

[build]
cmd = "go mod download && GOOS=linux CGO_ENABLED=0 go build -o ./.tmp/app ./cmd/consumer"
bin = ".tmp/app"

# Customize binary.
# This is how you start to run your application. Since my application will works like CLI, so to run it, like to make a CLI call.
full_bin = "./.tmp/app"
# This log file places in your tmp_dir.
log = "air_errors.log"
# Watch these filename extensions.
include_ext = ["go", "yaml"]
# Ignore these filename extensions or directories.
exclude_dir = ["cmd/app", "internal/app"]
# It's not necessary to trigger build each time file changes if it's too frequent.
delay = 1000 # ms
kill_delay = 500 # ms

[log]
# Show log time
time = true

[misc]
# Delete tmp directory on exit
clean_on_exit = true